.table {
	font-size: 12px;
}
.show-grid {
    margin-bottom: 15px;
}

.edit_button{
    margin-right: 5px;
}

.test-link{
	cursor: pointer;
}

a.remove {
    color: #a94442;
}

a.remove:hover {
    text-decoration: none;
		cursor: pointer;
}

.container-fluid {
    width: 670;
}

.container {
    width: 670;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: auto;
}

#video{
	position: relative;
	display: block;
	width: 640px;
  	height: 390px;
}

#video #questions{
	position: absolute;
	background: white;
	height: 80%;
    width: 70%;
    opacity: 1;
    top: 5%;
    left: 15%;
    z-index:100;
}

#video #timeline{
    border: 1px solid DarkSlategray;

	position: absolute;
	background: white;
	height: 8%;
    width: 100%;
    opacity: 1;
    top: 92%;
    left: 0;
    z-index:10000;

    vertical-align: middle;
    text-align: center;
}

#video #title{
    position: absolute;
    background: white;
    height: 10%;
    width: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index:100;

    text-align: left;
    padding: 10;
    font-weight: bold;
}

#video #timeline .bar {
	position: absolute;
	background: #337ab7;
	height: 100%;
    width: 5px;
    opacity: 1;
    top: 0;
    left: 0;
    z-index:200;
}

.ng-inline-edit__input {
  border-bottom: 1px dashed #333;
}

.ng-inline-edit--error .ng-inline-edit__input {
  border-color: #f00;
}

.ng-inline-edit__button {
  color: #00f;
  margin-left: 5px;
}

.ng-inline-edit__button:hover {
  text-decoration: underline;
}

.ng-inline-edit__input{
    width: 100%;
}
